{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-10 offset-1 col-lg-6 offset-lg-3 ">
            <h1 class="text-center">The Brewtique Coffee Shop</h1>
            <div class="mb-2 text-center">
                <strong class="text-muted m-1">For the discerning coffee lover</strong>
            </div>
            <div class="m-1 p-4 text-end">
                <a href="{% url 'products' %}" class="btn btn-dark rounded-0">Ground yourself with our coffee</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
