{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row category-search"></div>
        <div class="row product-container">
            {% for product in products %}
                <a class="row text-decoration-none text-body" href="{% url 'product_detail' product.id %}">
                    <div class="col-8 offset-1">
                        <h2>{{ product.name }}</h2> 
                    </div>
                    <div class="col-2 d-flex flex-column justify-content-between text-end">
                        <div class="product-info">
                            <p class="fw-bold my-1">${{ product.price }}</p>
                            <p class="fw-bold my-1">Rated {{ product.rating|floatformat}}/10</p>
                            {% if product.has_strength %}
                            <p class="fw-bold my-1">Strength: {{product.strength }}/5</p>
                            {% endif %}
                            <p class="fw-bold my-1">{{ product.stock_quantity }} in stock</p>
                        </div>
                        {% if request.user.is_superuser %}
                            <small>
                                <a href="{% url 'edit_product' product.id %}">Edit</a>
                                <a href="{% url 'delete_product' product.id %}" class="text-danger">Delete</a>
                            </small>
                        {% endif %}
                    </div>
                </a>
                <div class="row">
                    <div class="col-10 offset-1">
                        {% if not forloop.last %}
                            <hr class="border border-2 border-dark">
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock content %}